### Hidden files
#
#
.*
!.gitignore
!.bashrc
### Extensions
#
#
*.gz
*.fna
*.log
*.e*
*.o*
*__*__*
*.biom
*.pyc
*.fls
*.aux
*.fdb_latexmk
*.pdf
*.bbl
*.blg


### Directories
16/
17/
18/
networks/
report/**
qiime_tmp/

### Special
!report/Report.tex
